<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Task Logger{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/hanikitasklogger/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/hanikitasklogger/css/bootstrap-editable.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/hanikitasklogger/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/hanikitasklogger/css/datepicker3.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/hanikitasklogger/css/tasks.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'HanikiTaskLoggerBundle:TaskLogger:header.html.twig' %}

        <div class="container">
            <div>
                {% block content %}{% endblock %}
            </div>
            <hr />
            <footer>
                {% block footer %}
                    © TaskLogger 2014
                {% endblock %}
            </footer>
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/hanikitasklogger/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/hanikitasklogger/js/jquery.loadTemplate.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/hanikitasklogger/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/hanikitasklogger/js/bootstrap-editable.min.js') }}"></script>
            <script src="{{ asset('bundles/hanikitasklogger/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/hanikitasklogger/js/jquery.sortElements.js') }}"></script>
        {% endblock %}
    </body>
</html>